

<mat-grid-list cols="3" >
  <mat-grid-tile *ngFor="let tech of techStack">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{tech.name}}</mat-card-title>
        <mat-card-subtitle>{{tech.type}}    ( {{tech.questions}} + Q&A)</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/{{tech.resloc}}.jpg" alt="Photo of a {{tech.name}}">
      <mat-card-content>
        <p>

        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">View</button>

      </mat-card-actions>
    </mat-card>

</mat-grid-tile>

</mat-grid-list>
